main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}
header{
  color: orangered;
}
img{
  height: 10rem;
  width: auto;
  border-radius: 30px;
  box-shadow: 12px 5px 5px rgba(0, 0, 0, 0.3);
}

main p{
  color: orangered;
}
li{
  list-style-type:none;  
}
nav ul{
  box-shadow: 40px 12px 5px rgba(0, 0, 0, 0.3);
}
main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
